/*-- Declaring the Import SCSS Files --*/
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Numans");
.about-article-container {
  width: 100%;
  margin-bottom: 2em;
  text-align: left;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em; }
  .about-article-container .article-wrapper {
    width: 90%;
    margin-top: 2em;
    padding: 0em 5em 0em 5em; }
  .about-article-container .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
  .about-article-container .grid-item {
    text-align: left;
    font-family: "Numans", serif;
    color: #5b5b5b;
    font-size: 1em;
    padding-right: 3em;
    align-self: center; }
    .about-article-container .grid-item .illustration-img {
      object-fit: contain;
      width: 100%;
      overflow: hidden; }
