@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Numans');

$header-font: 'Comfortaa', sans-serif;
$header-color: #5b5b5b;
$subheader-color: #54939e;
$menu-color: rgba(84, 147, 158, 0.9);

$title-color: #94bf1f;

$body-color: #fafafa;
$body-font: 'Numans', serif;
$large-text: 1.5em;
$primary-wrapper: 90%;

$applynow-green: #94bf1f;
$applynow-red: #d74548;

$regularmenu-color: #ffffff;
$hovermenu-color: #ffffff;
$activemenu-color: #ffffff;

$mark-color: rgba(148, 191, 31, 0.15);

$stepnum-color: #7f7f7f;

