/*-- Declaring the Import SCSS Files --*/ 
@import 'variables.scss'; //Importing the files containing all the variables

.article-container{
	width:100%;
	margin-bottom: 2em;
	text-align: left;
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;

	.article-wrapper{
		width:$primary-wrapper;
		height:100%;
		margin-top: 2em;
		padding: 0em 5em 0em 5em;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 60% 40%;
	}

	.grid-item {
		text-align: left;
		font-family: $body-font;
		color: $header-color;
		font-size: 1em;
		padding-right: 3em;

		img{
			width: 100%;
			position: fixed;
		}
	}
}