/*-- Declaring the Import SCSS Files --*/
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Maitree");
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- General - Start --*/
html, body {
  margin: 0;
  padding: 0;
  background: #fafafa; }

/*-- General - End --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- Title and Sub-titles - Sart --*/
h1 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #5b5b5b;
  font-size: 2.5em;
  margin-top: 2.75em;
  margin-bottom: 0.625em; }

h2 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  color: #54939e;
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 0.625em; }

mark {
  background-color: #efefef;
  display: inline-block;
  line-height: 0.3em;
  padding: 0 1em 0.5em 1em;
  border-radius: 0.5em;
  color: #54939e; }

/*-- Title and Sub-titles - End --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- General Wrapper - Start --*/
.container-wrapper {
  height: 100%;
  width: 90%;
  margin: 0 auto; }

/*-- General Wrapper - End --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- Apply Now Button --*/
.btn {
  color: white;
  text-decoration: none;
  padding: 0.8em;
  border-radius: 0.5em;
  font-family: "Comfortaa", cursive;
  font-size: 1em;
  font-weight: bold; }

.btn-green {
  background: #94bf1f; }
  .btn-green:hover {
    background: #799c19;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #3f510d; }

.btn-red {
  background: #d74548;
  padding: 0.5em 1em;
  font-family: "Comfortaa", cursive;
  font-size: 0.75em; }
  .btn-red:hover {
    background: #c82b2e;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #811c1e; }

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--ABOVE THE FOLD - Starts --*/
.atf-wrapper {
  width: 100%;
  margin-bottom: 2em;
  text-align: left;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: hidden;
  /*-- Background Gradient - Starts --*/
  background: #f5f8fa;
  background: -moz-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #f5f8fa), color-stop(34%, #f5f8fa), color-stop(100%, #54939e));
  background: -webkit-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
  background: -o-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
  background: -ms-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
  background: linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fa', endColorstr='#54939e', GradientType=1 );
  /*-- Background Gradient - Ends --*/
  /*-- Grid Layout - Starts --*/
  /*-- Grid Layout - Ends --*/
  /*-- Left Grid - Starts --*/
  /*-- Left Grid - Ends --*/
  /*-- Right Grid - Starts --*/
  /*-- Right Grid - Ends --*/
  /*-- Counter Section - Starts --*/
  /*-- Counter Section - Ends --*/ }
  .atf-wrapper .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto; }
  .atf-wrapper .grid-item {
    padding: 0em 1.8em 0em 1.8em;
    text-align: center; }
  .atf-wrapper .atf-text-grid {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-right: 6.5em;
    padding-left: 2em;
    /*-- Inner Text - Starts --*/
    /*-- Inner Text - Ends --*/
    /*-- Apply Now Button Wrapper - Starts --*/
    /*-- Apply Now Button Wrapper - Ends --*/ }
    .atf-wrapper .atf-text-grid .atf-text {
      font-family: "Maitree", serif;
      font-weight: 600;
      color: #5b5b5b;
      font-size: 1em;
      line-height: 1.25em;
      margin: 1em 0; }
    .atf-wrapper .atf-text-grid .btn-wrapper {
      margin-top: 2em;
      float: left;
      height: 2em; }
  .atf-wrapper .atf-img-wrapper {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: right;
    align-self: center;
    /*-- Illustration Size - Starts --*/
    /*-- Illustration Size - Ends --*/ }
    .atf-wrapper .atf-img-wrapper .atf-img {
      margin-top: 5em;
      height: 28em; }
  .atf-wrapper .counter-wrapper {
    /*-- Icons Placement - Starts --*/
    /*-- Icons Placement - Ends --*/
    /*-- Counter Text Behaviour - Starts --*/
    /*-- Counter Text Behaviour - Ends --*/
    /*-- The Counter Behaviour - Starts --*/
    /*-- The Counter Behaviour - Ends --*/ }
    .atf-wrapper .counter-wrapper .icon-wrapper {
      margin: 0;
      padding: 0;
      /*-- Icon Dimensions - Starts --*/
      /*-- Icon Dimensions - Ends --*/ }
      .atf-wrapper .counter-wrapper .icon-wrapper .counter-icons {
        height: 8em; }
    .atf-wrapper .counter-wrapper .counter-text-wrapper {
      font-family: "Comfortaa", cursive;
      colour: #fafafa;
      font-weight: bold;
      text-align: center;
      /*-- The Main Text - Starts --*/
      /*-- The Main Text - Ends --*/
      /*-- The Sub Text - Starts --*/
      /*-- The Sub Text - Ends --*/ }
      .atf-wrapper .counter-wrapper .counter-text-wrapper .counter-text-regular {
        font-size: 1.2em;
        margin: 0.75em 0 0 0;
        padding: 0;
        line-height: 1.2em; }
      .atf-wrapper .counter-wrapper .counter-text-wrapper .counter-text-italics {
        font-size: 1em;
        font-style: italic;
        margin: 0;
        padding: 0; }
    .atf-wrapper .counter-wrapper .the-counter {
      margin-top: 0em;
      font-family: "Maitree", serif;
      font-size: 2.1em;
      font-style: italic;
      color: #94bf1f;
      text-align: center;
      font-weight: bold; }

/*--ABOVE THE FOLD - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- HOW IT WORKS - Starts --*/
.hiw-wrapper {
  height: 100%;
  width: 100%;
  font-family: "Maitree", serif;
  text-align: center;
  background-color: #fafafa;
  overflow: hidden;
  /*-- Grid Layout - Starts --*/
  /*-- Grid Layout - Ends --*/ }
  .hiw-wrapper .grid-container {
    display: grid;
    grid-template-columns: repeat(9, auto); }
  .hiw-wrapper .grid-item {
    padding: 0;
    margin: 0;
    text-align: center;
    align-self: flex-start; }
    .hiw-wrapper .grid-item .step-icons {
      margin: 0;
      padding: 0;
      height: 15em;
      overflow: auto; }
    .hiw-wrapper .grid-item .step-text {
      margin: 0;
      padding: 0;
      font-size: 1.25em; }
    .hiw-wrapper .grid-item .links {
      color: #54939e;
      font-style: italic;
      font-weight: bold;
      font-size: 1em;
      text-decoration: none; }
    .hiw-wrapper .grid-item .down-arrow {
      height: 2em; }

/*-- HOW IT WORKS - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- MONEYMATE CALCULATOR - Starts --*/
.mmc-wrapper {
  height: 100vh;
  width: 100%;
  font-family: "Maitree", serif;
  text-align: center;
  background-color: #e0e0e0;
  padding-top: 0.5em;
  overflow: hidden; }

/*-- MONEYMATE CALCULATOR - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- WHY US - Starts --*/
.wu-wrapper {
  height: 100%;
  width: 100%;
  font-family: "Maitree", serif;
  text-align: center;
  background-color: #fafafa;
  overflow: hidden;
  margin-bottom: 8em; }
  .wu-wrapper .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(4, auto);
    padding-top: 3em; }
  .wu-wrapper .grid-item {
    padding: 0;
    margin: 0;
    text-align: center;
    align-self: center; }
  .wu-wrapper .wu-icon-hleft-top {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1; }
  .wu-wrapper .wu-icon-hright-top {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 1; }
  .wu-wrapper .wu-icon-hleft-bottom {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 4; }
  .wu-wrapper .wu-icon-hright-bottom {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 4; }
  .wu-wrapper .wu-icon-vleft-top {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2; }
  .wu-wrapper .wu-icon-vleft-bottom {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3; }
  .wu-wrapper .wu-icon-vright-top {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2; }
  .wu-wrapper .wu-icon-vright-bottom {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3; }
  .wu-wrapper .wu-illustration-center {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4; }
  .wu-wrapper .wu-icon {
    height: 8em; }
  .wu-wrapper .wu-illustration {
    height: 20em;
    padding: 1em; }
  .wu-wrapper .wu-text {
    font-family: "Comfortaa", cursive;
    color: #5b5b5b;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0;
    padding-top: 0; }

/*-- WHY US - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- FAQs - Starts --*/
.faq-wrapper {
  width: 100%;
  font-family: "Maitree", serif;
  text-align: center;
  background-color: #fafafa;
  margin-bottom: 8em;
  overflow: hidden; }
  .faq-wrapper .grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-top: 5em;
    grid-row-gap: 1em; }
  .faq-wrapper .grid-item {
    padding: 0;
    margin: 0; }
  .faq-wrapper .faq-questions-before {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: left;
    font-weight: 600;
    font-size: 1em;
    align-self: center;
    background-color: white;
    border: 0.1em solid #94bf1f;
    color: #54939e;
    padding: 0.5em; }
    .faq-wrapper .faq-questions-before:active {
      grid-column-start: 2;
      grid-column-end: 3; }
  .faq-wrapper .link-text {
    text-align: right;
    margin-right: 3em;
    font-weight: bold;
    font-family: "Maitree", serif;
    color: #54939e;
    font-size: 1em;
    font-style: italic; }
    .faq-wrapper .link-text a {
      text-decoration: none; }

/*-- FAQs - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- TESTIMONIALS - Starts --*/
.ttm-wrapper {
  height: 100%;
  width: 100%;
  font-family: "Maitree", serif;
  text-align: center;
  background-color: #fafafa;
  margin-bottom: 8em;
  overflow: hidden; }
  .ttm-wrapper .quote-text {
    margin-top: 5em;
    margin-bottom: 0em;
    font-family: "Maitree", serif;
    font-size: 1em;
    font-style: italic; }

/*-- TESTIMONIALS - Ends --*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
