/*-- Declaring the Import SCSS Files --*/ 
@import 'variables.scss'; //Importing the files containing all the variables

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- General - Start --*/

html, body{
    margin: 0;
    padding: 0;
    background: $body-color;
}

/*-- General - End --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- Title and Sub-titles - Sart --*/

h1{
	font-family: $header-font;
	font-weight: bold;
	color: $header-color;
	font-size: 2.5em;
	margin-top: 2.75em;
	margin-bottom: 0.625em;
}

h2{
	font-family: $header-font;
	font-weight: bold;
	color: $subheader-color;
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0.625em;
}


h3{
	font-family: $header-font;
	font-weight: bold;
	color: $title-color;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

mark {
	background-color: $mark-color;
	display: inline-block;
	line-height: 0.3em;
	padding: 0 1em 0.5em 1em;
	border-radius: 0.5em;
	color:$subheader-color;
}

/*-- Title and Sub-titles - End --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- General Wrapper - Start --*/

.container-wrapper{
	height: 100%;
    width: $primary-wrapper;
    margin: 0 auto;
}
/*-- General Wrapper - End --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- Apply Now Button --*/

@mixin button-bg($bg) {
	background: $bg;
	
	&:hover {
	background:darken($bg,8%);
	transition: all 0.3s ease;
	}
	
	&:active {
	background:darken($bg,25%);
	} 
}

.btn {
	color:white;
	text-decoration:none;
	padding:0.8em;
	border-radius:0.5em;
	font-family: $header-font;
	font-size:1em;
	font-weight: bold;
}

//green button
.btn-green {
	@include button-bg($applynow-green);
}

//red menu button
.btn-red {
	@include button-bg($applynow-red);
	padding:0.5em 1em;
	font-family: $header-font;
	font-size: 0.75em;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- HEADER - START --*/

header{
    font-family: $header-font;
    width: 100%;
    height: 3.25em;
	background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    font-size: 1em;

	/*-- Header Container - Starts --*/
	
	.header-wrapper{
		width: $primary-wrapper;		
		margin: 0 auto;
		overflow: hidden;

		/*-- Navbar - Starts --*/

		nav{
			height: 3.25em;
			transition:500ms ease;
			border: 0!important;

			/*-- Logo Placement - Starts --*/
			
			.logo{
				float: left;
				font-weight:bold;
				font-size: 2em;
				line-height: 1.25em;
				padding: 0.5em 1em;

				/*-- Logo Size - Starts --*/

				a{
					img{
						height:1.25em;
						position: relative;
					}
				}
				/*-- Logo Size - Ends --*/

			}
			/*-- Logo Placement - Ends --*/

			/*-- Main Menu - Starts --*/

			.navbar-nav{
				float: right;
				position: relative;
				padding: 0.5em 1em;

				/*-- Menu Item Placement - Starts --*/

				li{
					float: left;
					display: inline;
					padding: 0 1.25em 0 1.25em;

					/*-- Menu Element Behaviour - Starts --*/

					a{
						color: $regularmenu-color;
						text-decoration: none;
						text-transform: capitalize;
						font-size: 1em;

						//On Hover
						&:hover{
							color: $hovermenu-color;
							font-weight: bolder;
							transition: all 0.5s;
						}

						//On Active
						&:active{
							color: $activemenu-color;
							font-weight: bold;
							transition: all 0.5s;
						}
					}
					/*-- Menu Element Behaviour - Starts --*/

				}
				/*-- Menu Item Placement - Ends --*/

			}
			/*-- Main Menu - Ends --*/

		}
		/*-- Navbar - Ends --*/

	}
	/*-- Header Container - Ends --*/

}
/*-- HEADER - END --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--ABOVE THE FOLD - Starts --*/

.atf-wrapper{
	width:100%;
	margin-bottom: 2em;
	text-align: left;
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
	overflow: hidden;

	/*-- Background Gradient - Starts --*/

	background: #f5f8fa;
	background: -moz-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, #f5f8fa), color-stop(34%, #f5f8fa), color-stop(100%, #54939e));
	background: -webkit-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
	background: -o-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
	background: -ms-linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
	background: linear-gradient(45deg, #f5f8fa 0%, #f5f8fa 34%, #54939e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fa', endColorstr='#54939e', GradientType=1 );

	/*-- Background Gradient - Ends --*/

	/*-- Grid Layout - Starts --*/

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto;
	}

	.grid-item {
		//padding: 1.8em 1.8em 0em 1.8em;
		padding: 0em 1.8em 0em 1.8em;
		text-align: center;
	}
	/*-- Grid Layout - Ends --*/

	/*-- Left Grid - Starts --*/

	.atf-text-grid{
		grid-column-start: 1;
		grid-column-end: 3;
		padding-right: 6.5em;
		padding-left: 2em;

		/*-- Inner Text - Starts --*/

		.atf-text{
			font-family: $body-font;
			//font-weight: 600;
			color: $header-color;
			font-size: 1em;
			line-height: 1.25em;
			margin: 1em 0;
		}
		/*-- Inner Text - Ends --*/

		/*-- Apply Now Button Wrapper - Starts --*/

		.btn-wrapper{
			margin-top: 2em;
			float: left;
			height: 2em; 
		}
		/*-- Apply Now Button Wrapper - Ends --*/

	}
	/*-- Left Grid - Ends --*/

	/*-- Right Grid - Starts --*/

	.atf-img-wrapper{
		grid-column-start: 3;
		grid-column-end: 5;
		text-align: right;
		align-self: center;

		/*-- Illustration Size - Starts --*/
		
		.atf-img{
			margin-top: 5em;
			height:28em;
		}
		/*-- Illustration Size - Ends --*/

	}
	/*-- Right Grid - Ends --*/

	/*-- Counter Section - Starts --*/
	.counter-wrapper{

		/*-- Icons Placement - Starts --*/

		.icon-wrapper{
			margin: 0;
			padding: 0;

			/*-- Icon Dimensions - Starts --*/

			.counter-icons{
				height: 8em;
			}
			/*-- Icon Dimensions - Ends --*/

		}
		/*-- Icons Placement - Ends --*/

		/*-- Counter Text Behaviour - Starts --*/

		.counter-text-wrapper{
			font-family: $header-font;
			colour: $body-color;
			font-weight: bold;
			text-align: center;

			/*-- The Main Text - Starts --*/

			.counter-text-regular{
				font-size: 1.2em;
				margin: 0.75em 0 0 0;
				padding:0;
				line-height:1.2em;
			}
			/*-- The Main Text - Ends --*/

			/*-- The Sub Text - Starts --*/
			
			.counter-text-italics{
				font-size: 1em;
				font-style: italic;
				margin:0;
				padding:0;
			}
			/*-- The Sub Text - Ends --*/

		}
		/*-- Counter Text Behaviour - Ends --*/

		/*-- The Counter Behaviour - Starts --*/
		.the-counter{
			margin-top: 0em;
			font-family: $body-font;
			font-size: 2.1em;
			color: black;
			text-align: center;
			font-weight: bold;
		}
		/*-- The Counter Behaviour - Ends --*/

	}
	/*-- Counter Section - Ends --*/

}
/*--ABOVE THE FOLD - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- HOW IT WORKS - Starts --*/

.hiw-wrapper{
	height: 100%;
	width: 100%;
	font-family: $body-font;
	text-align:center;
	background-color: #fafafa;
	overflow: hidden;
	margin-bottom: 1em;
	transition: all 5s;

	/*-- Grid Layout - Starts --*/

	.grid-container {
		display: grid;
		grid-template-columns: repeat(9, auto);
	}

	.grid-item {
		padding: 0;
		margin: 0;
		text-align: center;
		align-self: flex-start;
	
		.step-icons{
			margin:0;
			padding:0;
			height: 15em;
			overflow: auto;
		}

		.step-text{
			margin:0;
			padding:0;
			font-size: 1.25em;
		}

		.links{
			color: $header-color;
			font-size: 1em;
			text-decoration: underline;

			&:hover{
				color: $subheader-color;
			}
		}

		.down-arrow{
			height: 2em;
		}
	
	}
	/*-- Grid Layout - Ends --*/
	
	.step1hidden{
		display: none;
	}
	
	.step2hidden{
		display: none;
	}
	
	.step3hidden{
		display: none;
	}
	
	.step4hidden{
		display: none;
	}
}
/*-- HOW IT WORKS - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- MONEYMATE CALCULATOR - Starts --*/

.mmc-wrapper{
	height: 100vh;
	width:100%;
	font-family: $body-font;
	text-align:center;
	background-color: #f4f6f6;
	padding-top:0.5em;
	overflow: hidden;
}
/*-- MONEYMATE CALCULATOR - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- WHY US - Starts --*/

.wu-wrapper{
	height: 100%;
	width:100%;
	font-family: $body-font;
	text-align:center;
	background-color: #fafafa;
	overflow: hidden;
	margin-bottom: 8em;
	
	.grid-container {
		display: grid;
		grid-template-columns: repeat(12, 8.33%);
		grid-template-rows: repeat(4, auto);
		padding-top: 3em;
	}

	.grid-item {
		padding: 0;
		margin: 0;
		text-align: center;
		align-self: center;
	}

	.wu-icon-hleft-top{
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.wu-icon-hright-top{
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	.wu-icon-hleft-bottom{
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 4;
		grid-row-end: 4;
	}

	.wu-icon-hright-bottom{
		grid-column-start: 7;
		grid-column-end: 9;
		grid-row-start: 4;
		grid-row-end: 4;
	}

	.wu-icon-vleft-top{
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.wu-icon-vleft-bottom{
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 3;
	}

	.wu-icon-vright-top{
		grid-column-start: 9;
		grid-column-end: 11;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.wu-icon-vright-bottom{
		grid-column-start: 9;
		grid-column-end: 11;
		grid-row-start: 3;
		grid-row-end: 3;
	}

	.wu-illustration-center{
		grid-column-start: 5;
		grid-column-end: 9;
		grid-row-start: 2;
		grid-row-end: 4;
	}

	.wu-icon{
		height: 8em;
	}

	.wu-illustration{
		height:20em;
		padding:1em;
	}

	.wu-text{
		font-family: $header-font;
		color: $header-color;
		font-weight:bold;
		font-size: 1em;
		margin-top: 0;
		padding-top: 0;
	}
}
/*-- WHY US - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- FAQs - Starts --*/

.faq-wrapper{
	width:100%;
	font-family: $body-font;
	text-align:center;
	background-color: #fafafa;
	margin-bottom: 8em;
	overflow: hidden;

	.grid-container {
		display: grid;
		grid-template-columns: repeat(4, auto);
		padding-top: 5em;
		grid-row-gap:1em; 
	}

	.grid-item {
		padding: 0;
		margin: 0;
	}

	.faq-questions-before{
		grid-column-start: 2;
		grid-column-end: 4;
		text-align: left;
		font-weight: 600;
		font-size: 1em;
		align-self: center;
		background-color: white;
		border: 0.1em solid #94bf1f;
		color: $subheader-color;
		padding: 0.5em;

		&:active{
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}

	.link-text{
		text-align: right;
		margin-right: 3em;

		a{
			color: $header-color;
			font-size: 1em;
			text-decoration: underline;

			&:hover{
				color: $subheader-color;
			}
		}
	}
}
/*-- FAQs - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-- TESTIMONIALS - Starts --*/

.ttm-wrapper{
	height: 100%;
	width:100%;
	font-family: $body-font;
	text-align:center;
	background-color: #fafafa;
	margin-bottom: 8em;
	overflow: hidden;

	.quote-text{
		margin-top: 5em;
		margin-bottom: 0em;
		font-family: $body-font;
		font-size: 1em;
		font-style: italic;
	}
}
/*-- TESTIMONIALS - Ends --*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


