@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Maitree');

$body-color: #ebebeb;
$body-font: 'Maitree', serif;
$header-font: 'Comfortaa', cursive;
$header-color: #5b5b5b;