@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Maitree');

$header-font: 'Comfortaa', cursive;
$header-color: #5b5b5b;
$subheader-color: #54939e;

$body-color: #ebebeb;
$body-font: 'Maitree', serif;

$primary-wrapper: 90%;

$applynow-green: #94bf1f;
$applynow-red: #d74548;

$regularmenu-color: #ffffff;
$hovermenu-color: #ffffff;
$activemenu-color: #ffffff;